@font-face {
  font-family: "PT Sans";
  src: url(/fonts/PTSans-Regular.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url(/fonts/PTSans-BoldItalic.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url(/fonts/PTSans-Italic.ttf) format("ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url(/fonts/PTSans-BoldItalic.ttf) format("ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
}
/* Pages */
.page-header {
  color: #000000;
  background-color: #ffffff;
}
.page-header-logo {
  display: block;
  position: absolute;
  left: 310px;
  margin-left: 151px;
  margin-right: 209px;
}
.navigation {
  display: flex;
  position: relative;
  height: 65px;
  justify-content: space-around;
  width: 1057px;
  margin: 0 auto;
}
.navigation-list {
  margin: 0;
  padding: 0;
  width: 309px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}
.navigation-item {
  position: relative;
  margin: auto 0;
}
.navigation-user {
  display: flex;
  max-width: 250px;
}
.navigation-link {
  position: relative;
  display: block;
  min-width: 18px;
  min-height: 18px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  color: #000000;
  text-decoration: none;
}
.navigation-link:hover {
  opacity: 0.5;
  color: #756257;
}
.navigation-link:focus {
  opacity: 0.5;
  color: #756257;
  border: none;
  outline: none;
}
.navigation-link:active {
  opacity: 0.3;
  color: #756257;
  outline: none;
}
.navigation-button {
  display: inline-block;
  width: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  font-weight: 700px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
  border-radius: 4px;
  text-decoration: none;
  border: none;
}

.navigation-button:hover {
  color: #ffffff;
  background-color: #615048;
}
.navigation-button:focus {
  color: #ffffff;
  background-color: #615048;
  outline: 3px solid #83b3d3;
  border-radius: 10px;
  outline: none;
}
.navigation-button:active {
  opacity: 0.3;
  background-color: #615048;
  border: none;
  outline: none;
}
.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}
/* POPOVER*/
.popover {
  position: absolute;
  top: 40px;
  right: 0;
  left: -190px;
  z-index: 1;
  box-sizing: border-box;
  width: 400px;
  padding: 40px;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #ffffff;
  min-height: 232px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  display: none; /*Скрыть */
}
.popover-close-button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
.popover-mark {
  position: absolute;
  top: -10px;
  right: 188px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  transform: rotate(45deg);
  border-right: none;
  border-bottom: none;
}
.popover-content {
  height: 100%;
}
.cart-item {
  display: grid;
  grid-template-columns: 50px 244px 20px;
  margin-bottom: 25px;
}

.cart-item-title {
  position: relative;
  top: -10px;
  margin-top: 0;
  margin-bottom: 2px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
}

.cart-item-apartment {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  color: #333333;
}
.cart-item .button {
  border: none;
  background-color: #ffffff;
  grid-row: 1/2;
  grid-column: 3/5;
  cursor: pointer;
}
.cart-item .cart-item-title {
  margin-left: 17px;
  grid-row: 1/2;
  grid-column: 2/3;
}
.cart-item .cart-item-apartment {
  grid-row: 1/2;
  grid-column: 2/3;
  margin-top: 10px;
  margin-left: 17px;
}
.cart-item-link {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 0px 0px 20px 20px;
  left: -1px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  width: 400px;
  height: 60px;
  background-color: #756257;
  text-decoration: none;
}
.cart-item-link:hover {
  color: #ffffff;
  background-color: #615048;
}
.cart-item-link:focus {
  color: #ffffff;
  background-color: #615048;
  border: 3px solid #83b3d3;
  border-radius: 0px 0px 20px 20px;
  outline: none;
}
.cart-item-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
  border: none;
  outline: none;
}

.cart-item .button:hover {
  fill: #000000;
}
.cart-item .button:focus {
  width: 36px;
  height: 36px;
  border: 3px solid #83b3d3;
  border-radius: 10px;
  outline: none;
}
.cart-item .button:active {
  opacity: 0.4;
  border: none;
}
/* MAIN*/
.main-container {
  background-color: #ffffff;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}
.main-index-sedona {
  background-image: url(../img/index-background.jpg);
  background-repeat: no-repeat;
}

.vektor {
  margin-top: 17px;
}
.main-title {
  margin-top: 63px;
  margin-bottom: 23px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.main-text {
  margin-bottom: 79px;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}
.main-index-img {
  display: block;
  margin: 0 auto;
}
.main-index-img1 {
  padding-top: 46px;
}
.main-index-img2 {
  padding-top: 40px;
}

/* Advantages*/
ul {
  margin: 0;
  padding: 0;
}
.advantages-list {
  width: 1200px;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}
.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 384px;
}
.advantages-list-column {
  display: flex;
}
.advantages-column {
  display: flex;
  justify-content: space-around;
}

.advantages-number {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 25px;
}
.bg-lb {
  background-color: rgba(131, 179, 211, 0.12);
}
.bg-db {
  background: rgba(131, 179, 211, 0.2);
}
.advantages-bg-blue {
  width: 400px;
  color: #ffffff;
  background-color: #83b3d3;
}
.advantages-bg-blue-title {
  margin-top: 98px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.advantages-bg-blue-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
.advantages-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}
.advantages-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}
.advantages-item-icon {
  margin-bottom: 20px;
}
/*SUGGESTION */

.suggestions {
  height: 417px;
  text-align: center;
}

.suggestions-title {
  text-transform: uppercase;
  padding-top: 91px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}
.suggestions-text {
  padding-top: 15px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}
.suggestions-button {
  padding-top: 73px;
}
.suggestions-link {
  width: 575px;
  padding: 13px 129px 17px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  background-color: #756257;
}
.suggestions-link:hover {
  color: #ffffff;
  background-color: #615048;
}
.suggestions-link:focus {
  color: #ffffff;
  background-color: #615048;
  border: 3px solid #83b3d3;
  border-radius: 10px;
  outline: none;
}
/* NEWSLETTER*/

.newsletter {
  background-image: url(../img/background.jpg);
  width: 1200px;
  height: 411px;
  text-align: center;
}

.newsletter-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding-top: 94px;
  color: #ffffff;
}
.newsletter-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}
.newsletter-form {
  display: grid;
  grid-template-columns: 600px 200px;
  width: 800px;
  height: 60px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
.newsletter-input {
  border-radius: 10px 0px 0px 10px;
  border: none;
}
.newsletter-input:hover {
  background-color: #e6e6e6;
  border-radius: 10px 0px 0px 10px;
  outline: none;
}
.newsletter-input:focus {
  border: 3px solid #83b3d3;
  background-color: #e6e6e6;
  border-radius: 10px 0px 0px 10px;
  outline: none;
}
.newsletter-input:active {
  border: 2px solid #000000;
  background-color: #e6e6e6;
  border-radius: 10px 0px 0px 10px;
  outline: none;
}

.newsletter-button {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 0px 10px 10px 0px;
  border: none;
  cursor: pointer;
}
.newsletter-button:hover {
  background-color: #68a2ca;
  border-radius: 0px 10px 10px 0px;
}
.newsletter-button:focus {
  outline: none;
  background-color: #68a2ca;
  border: 3px solid #756257;
  border-radius: 0px 10px 10px 0px;
}
.newsletter-button:active {
  opacity: 0.3;
  background-color: #68a2ca;
  border: none;
}
/* Catalog */
.main-inner {
  background-color: #ffffff;
  margin: 0;
}

.main-inner-bg {
  background-image: url(../img/catalog/catalog-background\ 1.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 408px;
  color: #ffffff;
}
.header-link-list {
  margin: 0;
  padding: 0;
  width: 120px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-left: 73px;
}

.header-link-symbol {
  opacity: 0.3;
}
.header-link-hotel:hover {
  opacity: 0.5;
}
.header-link-hotel:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
  outline: none;
}

.header-title {
  margin: 0;
  padding: 0;
  padding-left: 71px;
  padding-top: 30px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
.header-link-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
}

/* FILTER */
.catalog-filter {
  display: flex;
}
.catalog-filter-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}
.catalog-filter-group {
  margin-top: 45px;
}
.catalog-filter-group:first-child {
  margin-left: 55px;
}
.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}
.control {
  position: relative;
  display: block;
  padding-left: 49px;
}
.control-mark {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}
.control-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.control-label:hover {
  opacity: 0.5;
  cursor: pointer;
}
.control-mark:hover {
  opacity: 0.5;
  cursor: pointer;
}
.control:focus .control-mark {
  border: 2px solid #81b3d2;
  cursor: pointer;
}
.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 10px;
  left: 7px;
  width: 11px;
  height: 2px;
  background-color: #3f5e72;

  content: "";
}
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 10px;
  left: 7px;
  width: 2px;
  height: 7px;
  background-color: #3f5e72;
  content: "";
}
.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(-55deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-55deg);
}
/* Radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}
.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 9px;
  height: 9px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}
.control-input-circle:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px #81b3d2;
  cursor: pointer;
}
/* Range */
.catalog-filter-input {
  margin: 0;
  padding: 0;
  width: 144px;
  height: 48px;
  border: 2px solid #ffffff;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
}
.catalog-filter-input:first-of-type {
  border-right: none;
}

.catalog-filter-input:hover {
  opacity: 0.6;
}
.catalog-filter-input:focus:first-of-type {
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 0px 3px #81b3d2;
  border-radius: 4px 0px 0px 4px;
  outline: none;
  border-right: none;
  outline: none;
}
.catalog-filter-input:focus:last-of-type {
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 0px 3px #81b3d2;
  border-radius: 0px 4px 4px 0px;
  outline: none;
}
.catalog-filter-input:active {
  border: 3px solid #ffffff;
  background-color: #756257;
  outline: none;
}
.catalog-filter-group {
  border: none;
}

.range-wrapper-inputs {
  display: flex;
}
.catalog-filter-button {
  display: flex;
  flex-direction: column;
  margin-right: 72px;
  margin-left: 80px;
}
.range-scale {
  position: relative;
  height: 4px;
  margin-top: 32px;
  background-color: #8a8888;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #242424;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #81b3d2;
  border: none;
}
.toggle-min {
  top: -8px;
  left: -3px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.catalog-btn-blue {
  position: relative;
  top: 106px;
  display: block;
  width: 160px;
  height: 48px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
}

.catalog-btn-blue:hover {
  background-color: #68a2ca;
  border-radius: 4px;
  border: none;
}
.catalog-btn-blue:focus {
  border: 3px solid #ffffff;
  outline: none;
  border-radius: 4px;
}

.button-drop {
  position: relative;
  display: block;
  top: 130px;
  left: 30px;
  width: 100px;
  height: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: transparent;
  border: none;
}
.button-drop:hover {
  opacity: 0.5;
}
.button-drop:focus {
  outline: none;
  border: 3px solid #83b3d3;
  border-radius: 4px;
}
.button-drop:active {
  outline: none;
  border: none;
  opacity: 0.3;
}

/* SORTING */

.sorting-container {
  display: flex;
  margin-top: 44px;
  margin-bottom: 42px;

  margin-left: 71px;
  margin-right: 71px;
  justify-content: center;
}
.sorting-result {
  width: 337px;

  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
}

.sorting-select-text {
  font-weight: 400;
  font-size: 18px;
}
.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 287px;
  margin-left: 192px;
  margin-right: 81px;
}
.sorting-select {
  width: 100%;
  padding: 18px 14px;
  border: 3px solid #e6e6e6;
  border-radius: 4px;
  background-image: url("../img/catalog/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}
.sorting-select:hover {
  border: 3px solid #83b3d3;
  border-radius: 4px;
}
.sorting-select:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
  outline: none;
}
.sorting-select:active {
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  opacity: 0.5;
}

.sorting-list-icon {
  padding: 16px;
}
.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #e6e6e6;
}
.card-grid-toggle:not(:last-child) {
  margin-right: 8px;
}

.card-grid-toggle:hover {
  border: 2px solid #83b3d3;
  border-radius: 4px;
}
.card-grid-toggle:focus {
  border: 2px solid #83b3d3;
  border-radius: 4px;
  outline: none;
}
.card-grid-toggle:active {
  border: 2px solid #000000;
  border-radius: 4px;
}
.card-grid-toggle-current {
  border: 2px solid #000000;
}

/*СARDS */
h3 {
  margin: 0;
  padding: 0;
}

.product-cards-container {
  display: grid;

  width: 1056px;
  margin: 0 auto;
}
.product-card {
  display: flex;
  height: 123px;
  margin-bottom: 60px;
}

.product-card-grid {
  display: grid;
  height: 120px;
  min-width: 535px;
  grid-template-areas:
    "link title title "
    "link e r ";
}
.product-card-amara {
  display: block;
  align-self: flex-start;
}
.link-decoration:hover {
  opacity: 0.6;
}
.link-decoration:focus {
  border: 3px solid #83b3d3;
  opacity: 0.6;
  outline: none;
}
.link-decoration:active {
  opacity: 0.3;
  border: none;
}

.product-card-link {
  width: 180px;
  height: 120px;
  grid-area: link;
  display: block;
}
.product-card-link:hover {
  opacity: 0.6;
}
.product-card-link:focus {
  border: 3px solid #83b3d3;
  outline: none;
}
.product-card-link:active {
  opacity: 0.3;
}
.title {
  grid-area: title;
}

.product-card-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  grid-area: e;
  width: 151px;
  height: 37px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  text-align: center;
}
.product-card-button:hover {
  background-color: #615048;
}
.product-card-button:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
  background-color: #615048;
  outline: none;
}
.product-card-button:active {
  opacity: 0.6;
  border: none;
}
.btn-blue {
  font-family: "PT Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: r;
  margin-top: auto;
  width: 160px;
  height: 37px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
}
.btn-blue:hover {
  border: 1px solid #756257;
  background-color: #68a2ca;
}
.btn-blue:focus {
  background-color: #68a2ca;
  border: 3px solid #756257;
  border-radius: 4px;
  outline: none;
}
.btn-blue:active {
  border: 1px solid #756257;
  background-color: #68a2ca;
  opacity: 0.6;
}
.product-card-stars {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto;
  text-align: center;
}
.product-card-part1 {
  width: 235px;
  display: flex;
  justify-content: space-between;
}

.link-decoration {
  text-decoration: none;
}
.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}
.product-card-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.product-card-rate {
  width: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #e5e5e5;
}
.btn-green {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: r;
  margin-top: auto;
  width: 160px;
  height: 37px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #7db54f;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 4px;
}
.btn-green:hover {
  background-color: #6c9e42;
}
.btn-green:focus {
  background-color: #6c9e42;
  border: 3px solid #756257;
  border-radius: 4px;
  outline: none;
}
.btn-green:active {
  background-color: #6c9e42;
  opacity: 0.6;
  border: none;
}
.product-card-image {
  object-fit: contain;
}

/* BUTTON LOAD */
.product-button {
  width: 625px;
  margin-bottom: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.product-button-load {
  display: inline-block;
  padding: 17px 200px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  text-transform: uppercase;
}
.product-button-load:hover {
  border: 1px solid #756257;
  background-color: #68a2ca;
}
.product-button-load:focus {
  background-color: #68a2ca;
  border: 3px solid #756257;
  border-radius: 4px;
  outline: none;
}
.product-button-load:active {
  border: 1px solid #756257;
  background-color: #68a2ca;
  opacity: 0.6;
}

/* PAGINATION */
.pagination {
  display: flex;
  margin: 0 auto;
  margin-bottom: 89px;
  width: 1056px;
  height: 55px;
}
.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.pagination-link {
  display: block;
  box-sizing: border-box;
  padding: 27px;
  text-decoration: none;
  color: #ffffff;
}
.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  background-color: #83b3d3;
  text-align: center;
}
.pagination-item:hover {
  background-color: #68a2ca;
  border-radius: 4px;
}
.pagination-item:focus {
  background-color: #68a2ca;
  border: 3px solid #756257;
  border-radius: 4px;
  outline: none;
}
.pagination-item:active {
  background-color: #68a2ca;
  opacity: 0.6;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-item-1 {
  background-color: #e5e5e5;
}

.pagination-link-1 {
  color: black;
}
.pagination-form {
  display: flex;
  justify-content: space-between;
  width: 386px;
  margin-left: auto;
  font-weight: 400;
  font-size: 18px;
}
.pagination-name {
  align-self: center;
}
.pagination-select {
  width: 160px;
  height: 48px;
}

/* NEWSLETTER*/
.newsletter-catalog {
  text-align: center;
  margin-bottom: 137px;
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.newsletter-catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
.newsletter-catalog-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 26px;
  color: #333333;
}
.newsletter-catalog-form {
  display: grid;
  grid-template-columns: 600px 200px;
  width: 800px;
  height: 60px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.newsletter-catalog-input {
  width: 600px;
  border-radius: 10px 0px 0px 10px;
  border: none;
  background-color: #f2f2f2;
}
.newsletter-catalog-input:hover {
  background-color: #e6e6e6;
  border-radius: 10px 0px 0px 10px;
  outline: none;
  cursor: pointer;
}
.newsletter-catalog-input:focus {
  border: 3px solid #83b3d3;
  background-color: #e6e6e6;
  border-radius: 10px 0px 0px 10px;
  outline: none;
}
.newsletter-catalog-input:active {
  border: 2px solid #000000;
  background-color: #e6e6e6;
  border-radius: 10px 0px 0px 10px;
  outline: none;
}

.newsletter-catalog-button {
  display: inline-block;
  width: 200px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 0px 10px 10px 0px;
  border: none;
  cursor: pointer;
}
.newsletter-catalog-button:hover {
  background-color: #68a2ca;
  border-radius: 0px 10px 10px 0px;
}
.newsletter-catalog-button:focus {
  outline: none;
  background-color: #68a2ca;
  border: 3px solid #756257;
  border-radius: 0px 10px 10px 0px;
}
.newsletter-catalog-button:active {
  opacity: 0.3;
  background-color: #68a2ca;
  border: none;
}
/* FOOTER */
.page-footer {
  margin: 0 auto;
}
.page-footer-container {
  display: flex;
  width: 1200px;
  height: 120px;

  justify-content: space-around;
  align-items: center;
}
.footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 107px;
  justify-content: space-between;
  list-style-type: none;
}

.button-social {
  text-decoration: none;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-icon {
  padding: 5px;
}
.footer-social-link:hover {
  fill: #68a2ca;
}
.footer-social-link:focus {
  fill: #68a2ca;
  box-shadow: 0px 0px 0px 3px #83b3d3;
  border-radius: 10px;
  outline: none;
}
.footer-social-link:active {
  fill: #68a2ca;
  opacity: 0.3;
  outline: none;
  border: none;
}
.footer-contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
.footer-contacts-phone:hover {
  opacity: 0.5;
}
.footer-contacts-phone:focus {
  opacity: 0.5;
  outline: none;
  border: 3px solid #83b3d3;
  border-radius: 10px;
}
.footer-contacts-phone:active {
  opacity: 0.3;
  outline: none;
  border: none;
}
.htmlacademy-link {
  max-width: 115px;
}
.htmlacademy-link:hover {
  opacity: 0.5;
}
.htmlacademy-link:focus {
  opacity: 0.5;
  outline: none;
  border: 3px solid #83b3d3;
  border-radius: 10px;
}
.htmlacademy-link:active {
  opacity: 0.3;
  outline: none;
  border: none;
}

/* MODAL WINDOW */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: none; /*Скрыть */
}
.field-group {
  margin: 0;
  margin-bottom: 40px;
}
.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
  border-radius: 30px;
}
.modal-hostels {
  width: 715px;
  height: 561px;
}
.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 53px;
  height: 53px;
  margin-top: 54px;
  margin-right: 70px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  background-image: url("../img/searchvector.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.modal-content-title {
  margin: 0;
  width: 499px;
  height: 67px;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin-left: 68px;
  margin-top: 62px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.modal-search-form {
  margin-left: 70px;
  margin-right: 70px;
}
.appointment-form-date {
  display: flex;
  justify-content: space-between;
  width: 575px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  color: #000000;
}
.field {
  width: 420px;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
  padding: 8px 14px;
  background-image: url(../img/date.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}
.field-group-text {
  position: absolute;
  top: 205px;
  left: 200px;
  width: 420px;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  color: #ff5757;
}
.field-group-text:last-of-type {
  position: absolute;
  top: 295px;
  left: 200px;
  width: 420px;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  color: #333333;
}
.form-label-icon {
  display: flex;
  position: relative;
  width: 97px;
}
.field-group-number {
  width: 288px;
}

.group-flex {
  display: flex;
  width: 575px;
  justify-content: space-between;
}
.group-flex-field {
  position: relative;
  display: flex;
  width: 288px;
}
.group-flex-label {
  width: 155px;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  color: #000000;
}

.group-flex-label-kids {
  position: relative;
  left: 40px;
  margin-left: 56px;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  color: #000000;
}
.group-kids {
  width: 230px;
}

.info {
  position: absolute;
  top: 5px;
  right: -90px;
  width: 25px;
  height: 25px;
  margin-top: 4px;
  margin-left: 2px;
  padding: 0;
  background-color: #83b3d3;
  border-radius: 50%;
  border: none;
  background-image: url("../img/info.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.input-number {
  position: relative;
  right: -20px;
  width: 44px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  background-color: #f2f2f2;
  text-align: center;
  border: none;
}
.input-number-kids {
  position: relative;
  right: 10px;
  top: 11px;
  width: 44px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  background-color: #f2f2f2;
  text-align: center;
  border: none;
}
.button-minus-adult {
  width: 50px;
  height: 50px;
  font-size: 40px;
  position: absolute;
  border: none;
  left: 128px;
}
.button-plus-adult {
  width: 50px;
  height: 50px;
  font-size: 40px;
  position: absolute;
  left: 217px;
  border: none;
}
.button-minus {
  width: 50px;
  height: 50px;
  font-size: 40px;
  position: relative;
  border: none;
  left: 0px;
  top: 18px;
}
.button-plus {
  width: 50px;
  height: 50px;
  font-size: 40px;
  position: relative;
  left: 90px;
  top: -40px;
  border: none;
}
.modal-content-link {
  margin: 0;
  padding: 0;
  display: flex;
  width: 575px;
  height: 60px;
  margin-top: 40px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 40;
  background-color: #83b3d3;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
}
.popover-kids-mark {
  width: 19px;
  height: 19px;
  position: absolute;
  background-color: #333333;
  top: -10px;
  right: 140px;
  transform: rotate(45deg);
}
.popover-kids {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 420px;
  right: 77px;
  z-index: 1;
  box-sizing: border-box;
  background-color: #333333;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
  font-weight: 400;
  display: none; /*Скрыть */
}
.popover-kids-text {
  padding: 18px;
}
